<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Document</title>
</head>
<body>

    <nav class="menu-navegacion">
        <ul>
            <li><a href="/templates/cats.html">index>volver a gatos</a></li>
            
        </ul>
    </nav>

    <h1>Detalles gatos</h1>

    <div>
        <table>
            <tbody>
                <tr>
                    <td><img src="/src/gato1.jpg" height="250px" alt="foto de rexy"></td>
                    <td>
                        <ul>
                            <li>Nombre: Budy</li>
                            <li>Edad: 2 Año</li>
                            <li>Genero: Macho</li>
                            <li>Esterilizado: Si</li>
                            <li>Nro° chip: PO4938TFQ6332</li>
                        </ul>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>