<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Document</title>
</head>
<body>

    <nav class="menu-navegacion">
        <ul>
            <li><a href="/templates/dogs.html">index>volver a perros</a></li>
            
        </ul>
    </nav>

    <h1>Detalles perros</h1>

    <div>
        <table>
            <tbody>
                <tr>
                    <td><img src="/src/perro1.jpg" height="250px" alt="foto de rexy"></td>
                    <td>
                        <ul>
                            <li>Nombre: REXY</li>
                            <li>Edad: 1 Año</li>
                            <li>Genero: Macho</li>
                            <li>Esterilizado: No</li>
                            <li>Nro° chip: GS5443SPQ64</li>
                        </ul>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>