<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Document</title>
</head>
<body>


    <h1>ONG - AYUDA A UN PELUDO</h1>
    <P>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ad mollitia perferendis alias, <br> 
        amet culpa numquam quibusdam vel, quam laborum non tempore et eius neque inventore minima voluptas consequatur! <br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, recusandae eum. Ipsam, ea commodi, animi nisi <br>
         accusantium laudantium, at corrupti aut hic dolore ducimus? Unde repellat rem debitis distinctio temporibus.
    </P>
    
    <h3>Nuestros Integrates:</h3>

    <ul>
        <li>Persona 1 - Administradora ONG</li>
        <li>Persona 2 - Gerente de operaciones</li>
    </ul>

    <h2>Nuestra secciones de ayuda:</h2>

    <div>
        <table>
            <tbody>
                <tr>
                    <td><img src="/src/gatos.jpg" height="150px" alt="Gatos descriptivos"></td>
                    <td><a href="/templates/cats.html" >GATOS</a></td>
                </tr>
                <tr>
                    <td><img src="/src/perros.jpg" height="150px" alt="Gatos descriptivos"></td>
                    <td><a href="/templates/dogs.html" >PERROS</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>