<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sidebar Menu</title>
    <link rel="stylesheet" href="../assets/style3.css">
</head>
<body>
    <div id="sidebar">
        <a href="#">Inicio</a>
        <a href="#">Nostros</a>
        <a href="#">Perros</a>
        <a href="#">Gatos</a>
        <a href="#">Contactos</a>
    </div>

    <div id="content">
        <div class="color1">
            <h1>Título 1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste nemo officia corporis velit voluptates at, laborum eligendi tempora? Exercitationem a minus magnam nihil sint asperiores suscipit quisquam eaque enim delectus! </p>
        </div>
        <div class="color2">
            <h1>Título 2</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste nemo officia corporis velit voluptates at, laborum eligendi tempora? Exercitationem a minus magnam nihil sint asperiores suscipit quisquam eaque enim delectus! </p>
        </div>
        <div class="color3">
            <h1>Título 3</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste nemo officia corporis velit voluptates at, laborum eligendi tempora? Exercitationem a minus magnam nihil sint asperiores suscipit quisquam eaque enim delectus! </p>
        </div>
        <div class="color4">
            <h1>Título 4</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste nemo officia corporis velit voluptates at, laborum eligendi tempora? Exercitationem a minus magnam nihil sint asperiores suscipit quisquam eaque enim delectus! </p>
        </div>
    </div>
    
</body>
</html>
